.moodmain
{
    width: 32vw;
    height: 18vw;
    border-radius: 13%;
    margin-left: 1vw;
    /* background-color: rgb(128, 128, 128,0.5); */
    background-image: url("../../images/food-1.png");
    background-repeat: no-repeat;
  background-size: 32vw 18vw;
}