.horzdisp
{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    line-height: 9vw;
    font-size: 3vw;
    overflow-y: scroll;
    margin-bottom: 20%;
}
.temp1
{
    height:20vh;
    width:100%;
    background-image: url("../../images/restaurant\ 1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 20vh;
}