.horzdisp
{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    line-height: 9vw;
    font-size: 3vw;
    overflow-y: scroll;
}
.temp1
{
    height:20vh;
    width:100%;
    background-color: rgb(128, 128, 128,0.2);
}