.skip{
    text-align: center;
    background-color: rgb(182, 179, 179);
    border-radius: 40px;
    color: rgb(109, 106, 106);
    width: 18vw;
    height: 8vw;
    margin-left: 80vw;
    margin-top: 0vw;
    margin-bottom: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.back
{
    width:18vw;
    height:8vw;

}
.log{
    font-size: 4vw;
    color: rgb(156, 152, 152);
    margin-bottom: 8vw;
    text-align: center;
}
.number{
    margin-left: 10vw;
    width: 80vw;
    height: 9vw;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.nine{
    margin-top: 1vw;
}
.input{
    text-decoration: none;
    margin-left: 2vw;
}
.continue{
    margin-left: 10vw;
    width: 80vw;
    height: 10vw;
    background-color: rgb(203, 203, 203);
    color: black;
    margin-top: 5vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 8vw;
}
.hr{
    position: relative;
    top: 46px;
    border: none;
    height: 1px;
    background: black;
    margin-bottom: 50px;
    width: 37vw;
    display: inline-block;
    /* border-top: dotted; */
    color: rgb(171, 165, 165);
}
.icons{
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.or{
    margin-top: -40px;
    color: rgb(171, 165, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ortext{
    margin: 12% 3% 0% 3%;
}

.img1,.img2{
    margin: 5px;
}
.acc{
    color: rgb(171, 165, 165);
    font-size: 3.4vw;
    text-align: center;
    margin-top: 5%;
}
.sign{
    color: red;
    font-size: 3.2vw;
}
.term{
    text-align: center;
    width: 70vw;
    margin-left: 15vw;
    font-size: 3vw;
    color: rgb(171, 165, 165);
    margin-top: 12vw;
}