.top>div{
    display: inline-block;
}
.top{
    margin-top: 5vh;
    margin-left: 5vw;
    font-size: 6vw;
}
.Search{
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 5vw;
}
.sdiv{
    margin-left: 14vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.subdiv{
    background-color: rgb(196, 189, 189);
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    width: 20vw;
    height: 4vh;
    margin-right: 3vw;
}
.order{
    font-weight: bolder;
    font-size: 9vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
}
.sdiv1{
    margin-left: 8vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.subdiv1{
    background-color: rgb(196, 189, 189);
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    width: 20vw;
    height: 4vh;
    margin-right: 3vw;
}
.dish{
    font-size: 5vw;
    font-weight: bold;
    margin-left: 5vw;
}
.rating{
    font-size: 4vw;
    font-weight: bolder;
    margin-left: 5vw;
}
.price{
    font-size: 4vw;
    font-weight: bolder;
    margin-left: 5vw;
    margin-top: 2vh;
}
.description{
    margin-left: 5vw;
}
.gray{
    width:30vw;
    height: 30vw;
    background-color: gray;
    position: absolute;
    left: 65vw;
    bottom: 115vw;
}
.img{
    display: inline-block;
    margin-bottom: 7vh;
}
.num{
    background-color: orange;
    color: white;
    width: 20vw;
    height: 4vh;
    border-radius: 50px;
    position: absolute;
    left: 70vw;
    top: 47vh;
    text-align: center;
    font-size: 5.5vw;

}
.time{
    width: 80vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 1.5vh;
    padding-left: 10vw;
    height: 4vh;
    background-color: rgb(189, 182, 182);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 4vw;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 4vh;

}
.payment{
    background-color: orange;
    color: white;
    font-size: 10vw;
    font-weight: bolder;
    /* padding: 10vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    width:90vw;
    height: 10vh;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 4vh;
    border-radius: 20px;
}